{% extends 'base.html' %}


{% load static %}


{% block links %}
    <link rel="shortcut icon" href="{% static '/img/logo.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/add.css' %}">
{% endblock %}


{% block title %} Edit {% endblock %}

{% block linkActive %}
    <a href="{% url 'rent' %}" class="links">Rent</a>
    <a href="{% url 'buy' %}" class="links">Buy</a>
    <a href="{% url 'sell' %}" class="links">Sell</a>
    <a href="{% url 'favorite' %}" class="links">Favorite</a>
{% endblock %}


{% block content %}
    <h1>Edit Property</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.name }}
        {{ form.description }}
        {{ form.price }}
        {{ form.address }}
        {{ form.bedrooms }}
        {{ form.bathrooms }}
        {{ form.squareArea }}
        {{ form.repairQuality }}
        {{ form.photo }}
        <span>Active</span>
        {{ form.status }}
        <span>isRent</span>
        {{ form.isRent }}
        <span>isBuy</span>
        {{ form.isBuy }}
        <span>Owner</span>
        {{ form.owner }}


        <button type="submit">Edit</button>
    </form>

{% endblock %}