{% extends 'base.html' %}

{% load static %}

{% block links %}
    <link rel="shortcut icon" href="{% static '/img/logo.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock %}

{% block title %} Favorites {% endblock %}

{% block linkActive %}
    <a href="{% url 'rent' %}" class="links">Rent</a>
    <a href="{% url 'buy' %}" class="links">Buy</a>
    <a href="{% url 'sell' %}" class="links">Sell</a>
    <a href="{% url 'favorite' %}" class="link_active">Favorite</a>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <nav>
        <h1>Your favorites</h1>
    </nav>
    <div class="cardSlide">
        <section class="layout rentCard">
            {% for el in favorites %}
            <div class="cardLayout">
                <div class="cardUpLayout">
                    <img src="{{ el.property.photo }}" alt="">
                </div>
                <div class="cardDownLayout">
                    <div class="price">
                        <h2>{{ el.property.price }}&#8376; </h2><p>/month/all</p> <a href=""><i class="fa-solid fa-cart-shopping" style="margin-left: 60px;"></i></a>
                    </div>
                    <div class="infoCardLayout">
                        <h1>{{ el.property.name }}</h1>
                        <p>{{ el.property.address }}</p>
                    </div>
                    <div class="infoHouseLayout">
                        <a class="more-link" href="{% url 'productDetail' el.property.id %}" style="margin-right: 5px;">More</a>
                        <a class="more-link" href="{% url 'remove_from_favorites' pk=el.property.pk %}">-fav</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
{% else %}
<nav>
        <h1>Please Log In</h1>
</nav>
{% endif %}
{% endblock %}






